* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background: #f1eded;
}

.container {
    width: 500px;
    background: rgba(12, 157, 7, 0.275);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.form-container {
    width: 200%;
    display: flex;
    transition: transform 0.4s ease-in-out;
}

input[type="checkbox"] {
    display: none;
}

.form-box {
    width: 100%;
    padding: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.guest-btn {
    background: #28a745;
}

.guest-btn:hover {
    background: #218838;
}

p {
    margin-top: 10px;
}

label {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

#toggle:checked ~ .form-container {
    transform: translateX(-50%);
}

